extends ./layout.jade

block content
    h2: =studentName
    table.table.table-condensed.table-striped
        thead
            tr
                th: |Activity
                th: |Last worked on
                th: |Status
                th: |Progress
                th: |temp
        tbody
            if (!activities || activities.length === 0)
                tr: td: |(No activities)
            else 
                each activity in activities
                    tr
                        td: = activity.name
                        td(class=activity.priorEntryDateClass)
                            = activity.priorEntryDate
                        td: = activity.status
                        td: = activity.progress
                        td: = activity.trackingType + ' ' + activity.stepsCount
